footer.sidebar__footer {
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
  align-items: center;
  height: unset !important;
  /*text-align: center;*/
  width: auto;
  /*max-height: 10%;*/
}

.sidebar__footer > a {
  max-width: 70%;
  /*max-height: 70%;*/
}

footer.sidebar__footer > a > img {
  height: unset !important;
  /*max-width: 70% !important;
  max-height: 70% !important;*/
}

/*dark theme toggle button*/

.dark-mode-button {
  /*padding: 1px 2px;*/
  padding: inherit;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-left: 16px;
  /*position: relative;*/
  /*top: -24px;*/
  transition-duration: .4s;
  cursor: pointer;
  /*max-width: 20%;*/
  /*max-width: 60px;*/
}

.dark-mode-toggle {
  background-color: #313338;
  color: #c2c3c5;
  border: 1px solid #c2c3c5;
}

.dark-mode-toggle:hover {
  background-color: #c2c3c5;
  color: #313338;
  border: 1px solid #313338;
}

/*move message box formatting toolbar to top right*/
.rc-message-box__toolbar-formatting {
  top: 0;
  right: 24px;
  left: unset;
  width: unset;
}

.color-component-color {
  color: unset;
}

/*hide bamboo links*/
[data-alias="Bamboo"] > blockquote {
  display:none;
}